--extra-index-url https://pypi.nvidia.com
cudf-cu12==23.12.*
-f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
jax[cuda12_pip]
# --extra-index-url=https://pypi.nvidia.com dask-cudf-cu12==23.12.*
