--extra-index-url https://pypi.nvidia.com
cudf-cu12==23.12.*
# --extra-index-url=https://pypi.nvidia.com dask-cudf-cu12==23.12.*
--index-url https://download.pytorch.org/whl/cu121
torch==2.1.0
torchvision==0.16.0
torchaudio==2.1.0
